[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSHybridPLS"]
	path = FSHybridPLS
	url = https://github.com/jong-min-moon/fshybridpls
